@media(min-width: 444px) {
    .expandToRow { 
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-around;
        flex-wrap:nowrap;
    }
}
//check tje classes
@media(max-width: 991.98px) {
    .mobileColumn { 
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        flex-wrap:nowrap;
    }
}
*{
 
    box-sizing: border-box;
}
//     @media (min-width: 415px)
//     root {
//     --header-height: 65px;
// }
//$background-color: rgb(109, 146, 154);

.body {
    background-color: rgb(109, 146, 154);
    }

.header {
    // background-color: rgb(27, 210, 210);
    
    /*position: sticky;*/
    font-weight: 100;
    width: 100%;
    top: 0;
    background-position: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
.header {
    display: flex;
    grid-area: header;
    // flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0px var(--header-padding-x);
    // height: var(--header-height);
    color: var(--color-tone-1);
    border-bottom: 1px solid var(--color-tone-4);
}

.title {
    // display: flex;
    font-family: BN balls;
    font-size: 35px;
    font-weight: bold;
    margin: 15px 20px;
    
}
.header-tools {
    display: flex;
    justify-content: space-between;
    padding: 3.5px;
    // background-color: #222;
    padding-left: 70%;
    width: 20px;
}
.header-tools > button {
    margin-left: 3.8px;
    border: none;
    background-color: rgb(109, 146, 154);
}
//why doesn't it work???
// .game-icon {
//     width: 24%;
//     height: 24%;
// }

.guest-board {
    display: grid;
    justify-content: space-around;
    // align-items: center;
    // flex-grow: 1;
    // overflow: hidden;
    margin: 40px 40%;
    // margin-left: 500px;
    width: 250px;
    height: 370px;
    // height: calc(100%-270px); don't understund what was the prob?
    grid-gap: 5px;
    
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(6, 1.5fr);
    grid-template-areas: "po po po po po"
                          "po po po po po"
                          "po po po po po"
                          "po po po po po"
                          "po po po po po"
                          "po po po po po";
                        
}
.guest-board > button {
    background-color: rgb(243, 230, 241) ;
}
/*hover thing*/
.guest-board > button:hover {
    background-color: rgba(206, 230, 237, 0.9);
    border-radius: 10px;
  }

.keyword-board  {
    display: grid;
    justify-content: space-around;
    justify-content: space-around;
    
    margin: 25px 450px;
    width: 500px;
    height: 120px;
    grid-gap: 5px;
    filter: drop-shadow(5px 5px 5px #222);
    grid-template-columns: repeat(9, 2fr);
    grid-template-rows: repeat(3, 2fr);
    grid-template-areas: "po po po po po po po po po po"
                        "po po po po po po po po"
                          "po po po po po po po po po po ";
                          
    // width: 100%;
    margin: 10px auto 20px;
    touch-action: manipulation;
                          
    
}
.keyword-board > button {
    background-color: rgb(157, 241, 241);
    border-radius: 10px;
}

/*hover thing*/
.keyword-board > button:hover {
    background-color: rgb(97, 225, 225);
  }

.footer {
    display: flex;
    justify-content: center;
    // background-color: aqua  ;
    grid-area: footer;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;
    // width: 100%;
}  